body{
    background-image: linear-gradient(45deg, white, red);
    min-height: 100vh; /* mínimo de altura da tela */
    margin-top: 13%;
    margin-left: 7%;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body * {
    font-family: "Inter", sans-serif;
    color: black;
}

#container {
    display: flex;
    justify-content: space-between; /* espaçamento entre os elementos */
    align-items: center; /* alinhamento vertical */
    padding: 20px; /* espaçamento interno */
}

#texto_2 {
    flex: 1; /* ocupa o espaço disponível */
    max-width: 50%; /* máximo de 50% da largura do contêiner */
    text-align: center;
    margin-left: 45%;
}

#texto_2 h1 {
    font-weight: 600;
    font-size: 2rem; /* tamanho de fonte responsivo */
    line-height: 1.5; /* espaço entre linhas responsivo */
}

button {
    width: 35%; /* largura total */
    margin-top: 20px; /* espaçamento superior */
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
}

#chinaTenisdeMesa {
    max-width: 50%; /* máximo de 50% da largura do contêiner */
    margin-left: 4%;
    margin-top: -50%;
    margin-bottom: 7%;
}