body{
    background-image: linear-gradient(45deg, white, red);
    max-height: 570px;
 
    /*degradê: linear-gradient(45deg, white, red);*/
}

* {
    height: 100%;
}

body * {
    font-family: "Inter", sans-serif;
    color: black;
}

#titulo {
    width: 418px;
    height: auto;
    /*border: 1px solid black;*/
    margin: auto;
    margin-right: 320px;
    margin-top: 400px;
    /*background-color: rgba(0, 0, 0, 0.8);*/
}

#titulo h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin: auto;
}

button {
    width: 50%;
    height: auto;
    margin-top: 35px;
    margin-left: 25%;
    background-color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

body img {
    height: auto;
    margin-top: -300px;
    margin-left: 175px;
}